#body{
	background-color: #202124;
}
.link_bar {
	background-color: #202124;
	font-size: 18px;
	margin: 15px 15px 0 20px;
	text-decoration: none;
	color: white;
	text-decoration: none;
	text-align:right;
}
.links{
	text-decoration: none;
	color: white;
}
#search_bar {
	background-color: #202124;
	margin: 7px 20px 5px 20px;
	text-align: center;
}
#search_bar_input {
	border-radius: 22px;
	border: solid 1px grey;
	background-color: #202124;
	color: white;
	width: 498px;
	padding: 11px 8px 11px 30px;
}
#search_button_bar {
	text-align: center;
	margin-top: 3px;
}
.search_button{
	background-color: #303134;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 9px 18px 9px 18px;
	font-size: 13px;
}
#adv_search_area {
	background-color: #202124;
	color: white;
	margin: 39px 20px 5px 33px;
	border-radius: 1px;
}
.adv_search_bars {
	border: solid thin #5f6368;
	background-color: #202124;
	width: 510px;
	padding: 4px;
	color: white;
}
br + input {
	margin-top: 13px;
}
#adv_search_button {
	background-color: #202124;
	margin: 20px 20px 5px 580px;
	border-radius: 1px;
	background-color: #8ab4f8;
	border: none;
	font-size: 10px;
	font-weight: bold;
	padding: 6px 9px 6px 9px;
}
.invis {
	position: absolute;
	visibility: hidden;
}